{% extends 'base.html' %} 
{% block title %}Product Catalog{% endblock title %} 

{% block content%} 
{% set i = 0 %}
<div class="col-md-12" style="padding:1%">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="toast show align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="d-flex">
            <div class="toast-body">
                {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="table-wrap">
<table class="table table-striped product-list">
    <thead thead-light>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Detail</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
    {% if product.instock == 0 %}
    {% if product.quantity < 100 %}
    <tr class="table-danger">
    {% elif product.quantity > 100 and product.quantity < 500 %}
    <tr class="table-warning">
    {% else %}
    <tr class="table-success">
    {% endif %}
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ "${:,.2f}".format(product.price) }}</td>
        <td>{{ product.quantity }}</td>
        <td><a href={{ url_for( "get_product_detail", pid=product.id) }}>View Detail</a></td>
        <td><a href={{ url_for( "update_product_form", pid=product.id) }}>Update</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
</table>
</div>
{% endblock content %}